body{
    font-family: 'Ubuntu Condensed';
    background: url("../images/666936496831.png") no-repeat fixed;
    color: #f5f3f3;
}
h1{
    text-transform: uppercase;
}
h3{
    font-style: italic;
}
img{
    width: 100%;
}

/* NAVBAR */
.bg-dark{
    background-color: #282727 !important;
}
.navbar-collapse{
    justify-content: flex-end;
}


/* CONTENT */
.content{
    margin-top: 55px;
    background-color: #282727;
    padding: 10px;
}
.snow{
    background-image:
            url("../images/snow.png"),
            url("../images/snow1.png"),
            url("../images/snow2.png");
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: snow 10s linear infinite;
}
@keyframes snow {
    from {background-position: 0px 0px, 0px 0px, 0px 0px;}
    to {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
.subtitle{
    font-style: italic;
}

.content .carousel p{
    margin-top: 20px;
}

.content a, .content a:hover {
    color: #00a7e1;
    text-decoration: none;
}

.custom, .custom:hover{
    padding: 10px 50px;
    border: solid 2px #00a7e1;
    color: #00a7e1;
    background-color: transparent;
}
.custom:hover{
    background-color: #f5f3f3;
    transition-duration: 1s;
}
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ticket_header, .ticket_infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ticket_header p{
    font-style: italic;
}
hr{
    background-color: #f5f3f3;
    border: groove 1px #f5f3f3;
}
.comment_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-content{
    background-color: black;
}
.close, .close:hover{
    color: white;
}
.modal-footer{
    display: flex;
    justify-content: space-between;
}


@media (min-width: 768px) {
    body{
        background-size: 100%;
    }
}
