.ticket_header, .ticket_infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ticket_header p{
    font-style: italic;
}
hr{
    background-color: #f5f3f3;
    border: groove 1px #f5f3f3;
}
