{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}
    <h1>Create new Ticket</h1>

    {{ include('ticket/comment_form.html.twig') }}

    <a href="{{ path('home') }}">back to list</a>
{% endblock %}